<a href="https://colab.research.google.com/github/19PA1A0474/code-era/blob/master/multi_linear_regression_(AI_LAB).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt
from sklearn import metrics

In [2]:
j=pd.read_csv('students_placement_data.csv')
j

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [3]:
k=j.loc[j['Section']=='A']
k

    Roll No Gender  ... registered_for_ Placement_Training  placement status
0         1      M  ...                                 NO        Not placed
1         2      F  ...                                yes            Placed
2         3      F  ...                                yes        Not placed
3         4      M  ...                                yes        Not placed
4         5      M  ...                                yes        Not placed
5         6      M  ...                                yes        Not placed
6         7      M  ...                                yes        Not placed
7         8      F  ...                                 NO        Not placed
8         9      M  ...                                yes        Not placed
9        10      M  ...                                yes        Not placed
10       11      F  ...                                 NO            Placed
11       12      M  ...                                yes        Not placed
12       13      M  ...                                yes        Not placed
13       14      F  ...                                yes            Placed
14       15      M  ...                                yes        Not placed
15       16      F  ...                                yes            Placed
16       17      F  ...                                yes        Not placed
17       18      F  ...                                yes            Placed
18       19      F  ...                                yes            Placed
19       20      M  ...                                yes            Placed
20       21      M  ...                                yes            Placed
21       22      M  ...                                yes        Not placed
22       23      F  ...                                yes        Not placed
23       24      M  ...                                 NO        Not placed
24       25      M  ...                                yes        Not placed
25       26      M  ...                                yes        Not placed
26       27      M  ...                                yes        Not placed
27       28      M  ...                                yes        Not placed
28       29      F  ...                                yes        Not placed
29       30      M  ...                                yes            Placed
30       31      F  ...                                yes            Placed
31       32      M  ...                                yes        Not placed
32       33      F  ...                                yes            Placed
33       34      M  ...                                yes        Not placed
34       35      F  ...                                yes        Not placed
35       36      M  ...                                yes            Placed
36       37      M  ...                                yes            Placed
37       38      F  ...                                yes            Placed
38       39      M  ...                                yes        Not placed
39       40      M  ...                                yes        Not placed
40       41      M  ...                                yes            Placed
41       42      F  ...                                yes        Not placed
42       43      M  ...                                yes        Not placed
43       44      M  ...                                yes        Not placed
44       45      F  ...                                yes        Not placed
45       46      F  ...                                yes            Placed
46       47      F  ...                                yes            Placed
47       48      M  ...                                yes        Not placed
48       49      M  ...                                yes        Not placed
49       50      F  ...                                yes            Placed
50       51      F  ...                                yes            Placed
51       52      M  ...                                yes        Not placed
52       53      M  ...                                yes        Not placed
53       54      M  ...                                yes            Placed
54       55      M  ...                                yes        Not placed
55       56      F  ...                                 NO            Placed
56       57      M  ...                                 NO        Not placed
57       58      M  ...                                yes        Not placed
58       59      F  ...                                yes            Placed
59       60      F  ...                                yes            Placed

[60 rows x 9 columns]

In [6]:
j.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [9]:
j=j.fillna(method="ffill")
j

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [10]:
j.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
x = j[['SSC Percentage','inter_Diploma_percentage','Backlogs']].values
y= j['B.Tech_percentage'].values

In [23]:
x.shape

(117, 3)

In [24]:
y.shape

(117,)

In [0]:
X_train,X_test,Y_train,Y_test=train_test_split(x,y, test_size = 0.2 , random_state = 0)

In [27]:
model=LinearRegression()
model.fit(X_train,Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
model.intercept_

35.057354321886265

In [28]:
model.coef_

array([ 0.06554206,  0.33857249, -1.14272442])

In [31]:
predicted_btech=model.predict(X_test)
predicted_btech.shape

(24,)

In [32]:
X_test.shape

(24, 3)

In [41]:
print('R2 error:',metrics.r2_score(Y_test, predicted_btech))

R2 error: 0.7542355177020978

In [42]:
print('R2 error:',metrics.mean_absolute_error(Y_test, predicted_btech))

R2 error: 4.5371144478534156